.button__episodes{
    border: none;
    border-radius: 0.5rem;
    margin-left: 0.5rem;
    padding: 0.5rem;
}

.button__episodes:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.886);
}

.episodesComponent{
    background-color: #F7F7F7;
    box-shadow: 5px 10px 14px 0px rgb(129 136 138 / 29%);
    text-align: center;
    padding: 1rem;
}